#root,
html {
    background-color: rgb(0, 0, 0);
    /* color: rgb(255, 255, 255); */

}



* {
    box-sizing: border-box;
    margin: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;

    background: transparent;

}


.details {
    display: flex;
    animation: fadeInAnimation 2s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hide {
    display: none;
}


@media screen and (max-width:600px) {

    .container {
        display: flex;

        flex-direction: column;

    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: auto;
        display: none;
    }

    .details {
        flex-direction: column;

    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.rotating-element {
    animation: rotate360 4s linear infinite;
}